name: SemVer label

on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  pull-requests: write

jobs:
  label-check:
    name: 'SemVer label'
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2
        with:
          egress-policy: audit

      - env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
        run: |
          if ${{ contains(github.event.pull_request.title, '!: ') }}; then
            gh pr edit ${{ github.event.number }} \
            --remove-label='semver:minor,semver:patch,semver:none' \
            --add-label='semver:major'
          elif ${{ startsWith(github.event.pull_request.title, 'feat') }}; then
            gh pr edit ${{ github.event.number }} \
            --remove-label='semver:major,semver:patch,semver:none' \
            --add-label='semver:minor'
          elif ${{ startsWith(github.event.pull_request.title, 'fix') || startsWith(github.event.pull_request.title, 'perf') || startsWith(github.event.pull_request.title, 'deps') }}; then
            gh pr edit ${{ github.event.number }} \
            --remove-label='semver:major,semver:minor,semver:none' \
            --add-label='semver:patch'
          else
            gh pr edit ${{ github.event.number }} \
            --remove-label='semver:major,semver:minor,semver:patch' \
            --add-label='semver:none'
          fi
